{
  "env": {
    "commonjs": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "airbnb-base",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "simple-import-sort",
    "prettier",
    "import",
    "sort-destructure-keys",
    "sort-keys-fix"
  ],
  "rules": {
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "prefer-destructuring": "off",
    "prettier/prettier": "error",
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "no-prototype-builtins": "off",
    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": "*", "next": "if" }
    ],
    "sort-destructure-keys/sort-destructure-keys": "warn",
    "sort-keys-fix/sort-keys-fix": "warn"
  },
  "ignorePatterns": []
}
